<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
 <ion-card>
   <ion-card-header>
    <ion-card-subtitle>Capacitor Plugins</ion-card-subtitle>
    <ion-card-Title> 
     <ion-button (click)="openBrowser()"> Open Browser</ion-button>
     <ion-button (click)="captureImage()">Capture Image</ion-button>
     <ion-button (click)="info()">Get Baterry Info</ion-button>
     <ion-list>
       <ion-item *ngFor="let c of contacts">
         <ion-label>{{ c.displayName }}
           <p>
             {{ c.phoneNumbers[0] }}
           </p>
         </ion-label>
       </ion-item>
     </ion-list>
    </ion-card-Title>
   </ion-card-header>
 </ion-card>
</ion-content>
